$webfont-primary: 'Helvetica';


$primary-color: #cbe346;
$seconday-color: #2b3049;
$tertiary-color: #1e2335;
$text-color: #787878;

$bg-color-historias: #f3f4f8;
$bg-color-galleria: #e3e3e3;

$white-color: #fff;
$black-color: #000;